@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



/*Headings*/

.gender-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin: auto;
}

.section-heading {
    color: #000000;
}

/*Graphs*/



/*Images*/

#main-image {
    width:100%;
    height: auto;
    position:relative;
    margin: 0;
    padding: 0;
    background-image: url('../images/exam.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/*Paragraphs*/

.gender-paragraph {
    font-family: 'Roboto', sans-serif;
    color: #00100B;
    font-size: 1.5em;
    padding-top: 1em;
    font-weight: 500;
}

.section-paragraph {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 1.5em;
    padding-top: 1em;
    font-weight: 400;
}


/*Navigation bar*/

.navbar-inverse .navbar-brand {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
}

.navbar-inverse {
    margin: 0;
}


.nav-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;

}

/*Footer*/

#main-footer {
    background-color: #000000;
    height: 10vh;
}


