@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



/*Headings*/

.gender-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin: auto;
}

.section-heading {
    color: #000000;
}


/*Images*/

#main-image {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('../images/exam2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/*Reset button*/

button.btn.btn-danger.top-btn {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

button.btn.btn-danger.top-btn:hover {
    border-color: #ffffff;

}

button.btn.btn-danger {
    background-color: #ff3333;

}


/* Back to the top button*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 150px;
    border: 0;
    background-color: #002080;
    color: #ffffff;
}

.btn-first:hover {
    color: #ffffff;
    background: #ff0000;
}

/*Gender Icons*/

.fa-gender {
    font-size:2.0em;
    letter-spacing: 1em;
}    

/*Paragraphs*/

.gender-paragraph {
    font-family: 'Roboto', sans-serif;
    color: #00100B;
    font-size: 1.5em;
    padding-top: 1em;
    font-weight: 500;
}

.section-paragraph {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 1.5em;
    padding-top: 1em;
    font-weight: 400;
}



/*Navigation bar*/

.navbar-inverse .navbar-brand {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
}

.navbar-inverse {
    margin: 0;
}


.nav-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;

}

#parental_level_of_education-selector {
   text-align: center;
    
}

/*Footer*/

#main-footer {
    background-color: #000000;
   }
   
.footer-container {
    height:130px;
    bottom: 0;
}   

/* Social Media Icons*/

.list-items {

    color: #002080;
}



.social-media-links {
    font-size: 2.5em;
    text-align: center;
    padding-top: 1em;

}


.social-media-links a i {

    color: #002080;
    display: inline-block;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media-links a i:hover {
    color: #ff0000;
}

/*About*/

.about {
    font-family:'Roboto', sans-serif;
    font-size:1em;
    color:#ffffff;
    padding-left: 2em;
   
}

.about a {
    text-decoration: none;
}

/*Media Queries*/

@media(max-width:767px) {
    .navbar-inverse .navbar-brand {
        margin-bottom: 20px;
        padding: 0px 10px;
        line-height: 1.2em;

    }
}


@media(min-width:768px) {
    .pie-heading {
        padding-right: 7.5em;
    }

}

@media(min-width:768px) {
    .back-to-top {
        bottom:190px;
        right: 40px;
    }
}
